<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">LOGO EMPRESA</a> -->
    <img src="assets/logo-valencia.png" alt="logo" style="height: 60px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <span class="navbar-text text-right w-100">
      <a [routerLink]="['/main/profile']"><b>Bienvenido</b>: </a>
    </span>
    </div>
</nav>